* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2,
h3 {
  color: #333333;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.bg-color {
  background-color: #f1f1f1;
}

.icon-color {
  color: #ff305b;
  font-size: 26px;
}

.clr {
  clear: both;
}

/* Sections Caption*/
.section-caption {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}

.section-caption h2 {
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.section-caption .height1,
.section-caption .height2 {
  width: 10%;
  margin: auto;
  height: 0.1px;
  background-color: #ff305b;
}

.section-caption .height2 {
  width: 20%;
  margin: 5px auto;
}

/*Home Section*/
.home {
  width: 100%;
  height: 100vh;
  background-image: url(../images/slider/slider-01.jpg);
  background-position: center center;
  background-size: cover;
}

.home-bg {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
}

.home .navbar {
  width: 100%;
}

.navbar .container {
  width: 75%;
  margin: auto;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}

.home .navbar .container .logo {
  width: 10%;
  float: left;
}

.home .navbar .container .logo a {
  display: block;
  padding: 20px 10px;
  font-size: 24px;
  font-weight: 800;
  color: #ff305b;
}

.home .navbar .container .main-menu a {
  display: block;
  padding: 10px 0px;
  color: white;
  font-weight: 300;
}

.home .navbar .container .main-menu ul li {
  display: inline-block;
  padding: 10px;
}

.main-menu {
  float: right;
}

.navbar .container .main-menu ul li a:hover,
.navbar .container .main-menu ul li:first-child a {
  color: #ff305b;
}

.home-caption {
  width: 100%;
  margin: 220px 0px;
  text-transform: capitalize;
}

.home-caption .content {
  width: 50%;
  margin: auto;
  text-align: center;
  font-family: "Source Sans Pro";
  color: white;
}

.content h3 {
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.content h1 {
  text-transform: uppercase;
  font-size: 70px;
  color: #ff305b;
}

.content h4 {
  font-size: 26px;
  font-weight: 300;
}

/* Section 2*/
.section2 {
  width: 100%;
}

.section2 .container {
  width: 70%;
  margin: 100px auto;
  overflow: hidden;
}

.section2 .about-content {
  float: left;
  width: 60%;
  padding: 0px 20px;
  font-family: "Roboto", sans-serif;
}

.section2 .about-content h2 {
  padding-left: 10px;
  text-transform: uppercase;
  border-left: #ff305b 4px solid;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 34px;
}

.section2 .about-content p {
  padding: 20px 0px;
  line-height: 25px;
  border-bottom: 1px dashed #999999;
  font-weight: 400;
  color: #555555;
}

.section2 .about-content ul {
  text-transform: capitalize;
}

.section2 .about-content ul li {
  float: left;
  width: 50%;
  padding-top: 20px;
  font-weight: 400;
  color: #555555;
}

.section2 .about-content ul li span {
  font-weight: 500;
  color: #333333;
}

.section2 .about-content button {
  width: 25%;
  margin: 20px 10px 10px 0px;
  color: white;
  background-color: #ff305b;
  border: 1px solid #ff305b;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 10px;
}

.section2 .about-content button:hover {
  background-color: #ef2611;
  border: 1px solid #ef2611;
  cursor: pointer;
}

.section2 .about-border {
  width: 35%;
  float: left;
  margin-right: 50px;
  margin-bottom: 20px;
}

.section2 .about-img img {
  width: 100%;
  border-radius: 5px;
  top: 20px;
  left: 20px;
  position: relative;
}

.section2 .about-img {
  border: 7px solid #555555;
  border-radius: 5px;
  position: relative;
}

.section2 .container .about-border .about-img .shadow {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  visibility: hidden;
  border-radius: 5px;
  top: 500px;
  left: 20px;
  position: absolute;
  transition: ease-in-out 0.5s 0s;
}

.section2 .container .about-border .about-img .shadow .footer-container {
  margin-top: 200px;
}

.section2 .container .about-border .about-img:hover .shadow {
  visibility: visible;
  top: 20px;
  opacity: 0.9;
}

/*Section 3*/
.section3 {
  width: 100%;
  padding: 100px 0px 50px;
}

.section3 .collection {
  width: 75%;
  margin: auto;
}

.section3 .collection .item {
  width: 25%;
  text-align: center;
  float: left;
  color: #555555;
  line-height: 25px;
  font-family: "Roboto", sans-serif;
  padding: 40px 15px;
}

.section3 h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 15px;
}

.section3 .collection .item i {
  display: block;
  margin-bottom: 15px;
  font-size: 36px;
  transition: ease-in-out 0.3s 0s;
}

.section3 .collection .item:hover i {
  transform: scale(1.2);
}

.section3 .collection .item:hover {
  background-color: white;
}

/*Section 4*/
.section4 {
  margin: 100px 0px;
}
.section4 .portfolio-collection {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.section4 .portfolio-collection .collection-menu ul li {
  display: inline-block;
  padding: 3px 12px;
}

.section4 .portfolio-collection .collection-menu ul li a {
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.section4 .portfolio-collection .collection-menu ul li a:active,
.section4 .portfolio-collection .collection-menu ul li:first-child a {
  color: #ff305b;
}

.section4 .portfolio-collection .images {
  width: 100%;
  margin-top: 40px;
}

.section4 .portfolio-collection .images .images-collection {
  width: 80%;
  margin: auto;
}
.section4 .portfolio-collection .images .images-collection .item {
  width: 33.3%;
  float: left;
  position: relative;
  padding: 10px 20px 20px 0px;
}
.section4 .portfolio-collection .images .images-collection .item img {
  width: 100%;
}

.section4 .portfolio-collection .images .images-collection .item .shadow {
  background-color: rgba(0, 0, 0, 0.5);
  height: 90%;
  width: 95%;
  opacity: 0;
  top: 10px;
  left: 0px;
  position: absolute;
}

.section4 .portfolio-collection .images .images-collection .item .shadow:hover {
  opacity: 1;
}

/*Section 5*/
.section5 {
  width: 100%;
  padding: 100px 0px;
}

.collection {
  width: 80%;
  margin: auto;
}

.section5 .collection .item {
  width: 25%;
  float: left;
  text-align: center;
  font-size: 16px;
  color: #555555;
  font-family: "Source Sans Pro", sans-serif;
}

.section5 .collection .item i {
  margin-bottom: 10px;
}

.section5 .collection .item h3 {
  margin-bottom: 10px;
  font-size: 26px;
}

.section5 .collection .item h5 {
  font-size: 16px;
  font-weight: 600;
}

/*Section 6*/
.section6 {
  width: 100%;
  padding: 100px 0px;
}
.section6 .container {
  width: 50%;
  margin: auto;
  padding: 50px;
  position: relative;
  z-index: -1;
  border-radius: 5px;
  overflow: hidden;
}

.section6 .container .client {
  width: 100%;
}

.section6 .square {
  width: 0;
  height: 0;
  border-top: 400px solid #ff305b;
  border-right: 400px solid transparent;
  bottom: 50px;
  right: 400px;
  position: absolute;
  z-index: -1;
}

.section6 .container .client h3 {
  font-size: 26px;
  padding: 5px;
  font-weight: 600;
}

.section6 .container .client .client-img {
  width: 15%;
  float: left;
  padding-top: 10px;
}

.section6 .container .client .client-img img {
  width: 100%;
  border-radius: 50%;
}

.section6 .container .client .client-info {
  float: right;
  width: 85%;
  padding-left: 10px;
}

.section6 .container .client .client-info h4 {
  color: #777777;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
}

.section6 .container .client .client-info p {
  color: #555555;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
  padding: 5px;
}

.section6 .container .client .client-info .rating {
  padding: 15px 5px;
  color: gold;
}

/*Blog Section "Section 7"*/
.section7 {
  width: 100%;
  padding: 100px 0px;
}
.blog-container {
  width: 75%;
  margin: auto;
}
.blog-container .item {
  float: left;
  width: 30%;
  margin: 0px 15px;
  background-color: white;
}

.blog-img img,
.blog-img iframe {
  width: 100%;
}

.blog-img iframe {
  height: 25.5vh;
}

.blog-container .blog-content {
  padding: 20px;
}

.blog-container .item h4 {
  font-family: "Roboto", sans-serif;
  color: #555555;
  font-weight: 400;
  margin-bottom: 10px;
}

.blog-container .item h3 {
  margin-bottom: 15px;
}

.blog-container .item h3 a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  color: #333333;
  font-weight: 600;
}

.blog-container .item p {
  font-family: "Roboto", sans-serif;
  color: #555555;
  margin-bottom: 15px;
  line-height: 25px;
}

.blog-container .item a {
  font-family: "Roboto", sans-serif;
  line-height: 25px;
  text-transform: uppercase;
  color: #333333;
}

.blog-container .item a:hover {
  color: #ff305b;
}

/* Contact Form Section "Form CSS" */
.contact-container {
  width: 100%;
  padding: 100px 0px;
}

.contact-form {
  width: 50%;
  margin: auto;
}

.contact-form .input-field {
  float: left;
  width: 50%;
  padding: 0px 15px;
  padding-bottom: 25px;
}

.input-field input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 12px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-family: "Roboto", sans-serif;
  color: #999999;
}

.input-field input:focus,
.input-field textarea:focus {
  outline-color: #ff305b;
  outline-style: solid;
}

.contact-form .full-width {
  width: 100%;
}

.contact-form textarea {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  width: 40%;
  background-color: #ff305b;
  border: 1px solid #ff305b;
  border-radius: 4px;
  color: white;
  padding: 10px 10px;
  text-transform: uppercase;
}

.contact-form button:hover {
  background-color: #ec2403;
  border: 1px solid #ec2403;
  cursor: not-allowed;
}

/* Footer Section */
.footer {
  background-color: #333333;
  padding: 50px 0px;
}

.footer-container {
  width: 50%;
  margin: auto;
  text-align: center;
}

.footer-container li {
  display: inline-block;
  list-style-type: none;
}

.footer-container a i {
  margin: 15px 10px;
  color: white;
  font-size: 18px;
}

.footer-container a {
  color: #ff305b;
}

.footer-container p {
  color: white;
  font-family: "Roboto", sans-serif;
}

.footer-container a i:hover {
  color: #ff305b;
}

.footer-container a:hover {
  text-decoration: underline;
}
